In [1]:
import pandas as pd
df1= pd.read_csv("cleaned_dataset.csv")
print("Head")
print(df1.head())

print("Tail")
print(df1.tail())

print("DataFrame Info")
print(df1.info())

print("Missing Value Count")
print(df1.isnull().sum())

print("Unique Value Counts")
print(df1.nunique())

# Descriptive statistics for numerical columns
print("Descriptive Stats(Numerical)")
print(df1.describe())

# Descriptive statistics for Categorical columns
print("Descriptive Stats(Categorical)")
print(df1.describe(include=['object']))

print("\nValue Counts for Country Code(Normalized)")
print(df1['Country Code'].value_counts(normalize=True).mul(100).round(2))

print("\nValue Counts for Rating Text")
print(df1['Rating text'].value_counts())

print("\nValue Counts for Price Range")
print(df1['Price range'].value_counts().sort_index())

print("\nService: Table Booking Counts")
print(df1['Has Table booking'].value_counts())

print("\nService: Online Delivery Counts")
print(df1['Has Online delivery'].value_counts())

print("\nService: Is Delivering Now Counts")
print(df1['Is delivering now'].value_counts())

Head
   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]
Tail
      Restaurant ID           Restaurant Name  Country Code       City  \
9546        5915730               NamlU Gurme           208  iistanbul
9547        5908749              Ceviz AiiacU           208  iistanbul
9548        5915807                     Huqqa           208  iistanbul
9549        5916112               Aiiik Kahve           208  iistanbul
9550        5927402  Walter's Coffee Roastery           208  iistanbul

                                                Address    Locality  \
9546  Kemankeii Karamustafa Paiia Mahallesi, RUhtUm ...     Karakiy
9547  Koiiuyolu Mahallesi, Muhittin iistindaii Cadde...   Koiiuyolu
9548  Kuruieiime Mahallesi, Muallim Naci Caddesi, No...  Kuruieiime
9549  Kuruieiime Mahallesi, Muallim Naci Caddesi, No...  Kuruieiime
9550  Cafeaiia Mahallesi, BademaltU Sokak, No 21/B, ...        Moda

           Locality Verbose  Longitude   Latitude  \
9546     Karakiy, iistanbul  28.977392  41.022793
9547   Koiiuyolu, iistanbul  29.041297  41.009847
9548  Kuruieiime, iistanbul  29.034640  41.055817
9549  Kuruieiime, iistanbul  29.036019  41.057979
9550        Moda, iistanbul  29.026016  40.984776

                             Cuisines  ...          Currency  \
9546                          Turkish  ...  Turkish Lira(TL)
9547  World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548           Italian, World Cuisine  ...  Turkish Lira(TL)
9549                  Restaurant Cafe  ...  Turkish Lira(TL)
9550                             Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[5 rows x 21 columns]
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB
None
Missing Value Count
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64
Unique Value Counts
Restaurant ID           9551
Restaurant Name         7445
Country Code              15
City                     141
Address                 8918
Locality                1208
Locality Verbose        1265
Longitude               8120
Latitude                8677
Cuisines                1825
Average Cost for two     140
Currency                  12
Has Table booking          2
Has Online delivery        2
Is delivering now          2
Switch to order menu       1
Price range                4
Aggregate rating          33
Rating color               6
Rating text                6
Votes                   1012
dtype: int64
Descriptive Stats(Numerical)
       Restaurant ID  Country Code    Longitude     Latitude  \
count   9.551000e+03   9551.000000  9551.000000  9551.000000
mean    9.051128e+06     18.365616    64.126574    25.854381
std     8.791521e+06     56.750546    41.467058    11.007935
min     5.300000e+01      1.000000  -157.948486   -41.330428
25%     3.019625e+05      1.000000    77.081343    28.478713
50%     6.004089e+06      1.000000    77.191964    28.570469
75%     1.835229e+07      1.000000    77.282006    28.642758
max     1.850065e+07    216.000000   174.832089    55.976980

       Average Cost for two  Price range  Aggregate rating         Votes
count           9551.000000  9551.000000       9551.000000   9551.000000
mean            1199.210763     1.804837          2.666370    156.909748
std            16121.183073     0.905609          1.516378    430.169145
min                0.000000     1.000000          0.000000      0.000000
25%              250.000000     1.000000          2.500000      5.000000
50%              400.000000     2.000000          3.200000     31.000000
75%              700.000000     2.000000          3.700000    131.000000
max           800000.000000     4.000000          4.900000  10934.000000
Descriptive Stats(Categorical)
        Restaurant Name       City                     Address  \
count              9551       9551                        9551
unique             7445        141                        8918
top     Cafe Coffee Day  New Delhi  Dilli Haat, INA, New Delhi
freq                 83       5473                          11

               Locality            Locality Verbose      Cuisines  \
count              9551                        9551          9542
unique             1208                        1265          1825
top     Connaught Place  Connaught Place, New Delhi  North Indian
freq                122                         122           936

                  Currency Has Table booking Has Online delivery  \
count                 9551              9551                9551
unique                  12                 2                   2
top     Indian Rupees(Rs.)                No                  No
freq                  8652              8393                7100

       Is delivering now Switch to order menu Rating color Rating text
count               9551                 9551         9551        9551
unique                 2                    1            6           6
top                   No                   No       Orange     Average
freq                9517                 9551         3737        3737

Value Counts for Country Code(Normalized)
Country Code
1      90.59
216     4.54
215     0.84
30      0.63
189     0.63
214     0.63
148     0.42
208     0.36
14      0.25
162     0.23
94      0.22
166     0.21
184     0.21
191     0.21
37      0.04
Name: proportion, dtype: float64

Value Counts for Rating Text
Rating text
Average      3737
Not rated    2148
Good         2100
Very Good    1079
Excellent     301
Poor          186
Name: count, dtype: int64

Value Counts for Price Range
Price range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

Service: Table Booking Counts
Has Table booking
No     8393
Yes    1158
Name: count, dtype: int64

Service: Online Delivery Counts
Has Online delivery
No     7100
Yes    2451
Name: count, dtype: int64

Service: Is Delivering Now Counts
Is delivering now
No     9517
Yes      34
Name: count, dtype: int64

In [2]:

country_map = {
    1: 'India', 14: 'Australia', 30: 'Brazil', 37: 'Canada', 94: 'Indonesia',
    148: 'New Zealand', 162: 'Philippines', 166: 'Qatar', 184: 'Singapore',
    189: 'South Africa', 191: 'Sri Lanka', 208: 'Turkey', 214: 'UAE',
    215: 'United Kingdom', 216: 'United States'
}

# Apply the mapping to create the 'Country Name' column
df1['Country Name'] = df1['Country Code'].map(country_map)

# Analyze the distribution of the new Country Name column
print("\n--- Value Counts for Country Name (Normalized) ---")
print(df1['Country Name'].value_counts(normalize=True).mul(100).round(2))

--- Value Counts for Country Name (Normalized) ---
Country Name
India             90.59
United States      4.54
United Kingdom     0.84
Brazil             0.63
South Africa       0.63
UAE                0.63
New Zealand        0.42
Turkey             0.36
Australia          0.25
Philippines        0.23
Indonesia          0.22
Qatar              0.21
Singapore          0.21
Sri Lanka          0.21
Canada             0.04
Name: proportion, dtype: float64

In [3]:
print("All Unique Cuisines")
unique_cuisines=df1['Cuisines'].unique()
if len(unique_cuisines)> 50:
  print(unique_cuisines[:50])
  print(f"Total Unique Cuisine Combinations: {len(unique_cuisines)}")
else:
  print(unique_cuisines)

# Extract Primary cuisine
df1['Primary Cuisine'] = df1['Cuisines'].apply(lambda x: str(x).split(',')[0])

print(" Primary Cuisines")
print(df1['Primary Cuisine'].value_counts())

All Unique Cuisines
['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' 'Japanese, Sushi' 'Japanese, Korean'
 'Chinese' 'Asian, European' 'Seafood, Filipino, Asian, European'
 'European, Asian, Indian' 'Filipino' 'Filipino, Mexican'
 'American, Ice Cream, Desserts' 'Korean'
 'Cafe, American, Italian, Filipino' 'Italian, Pizza'
 'Cafe, Korean, Desserts' 'Cafe, Bakery, American, Italian'
 'Seafood, American, Mediterranean, Japanese'
 'American, Asian, Italian, Seafood' 'Fast Food, French' 'Cafe' 'Bakery'
 'Brazilian' 'Pizza' 'Arabian' 'Brazilian, Cafe' 'Italian'
 'Bar Food, Brazilian' 'Mexican, Grill' 'International'
 'Peruvian, Latin American' 'American, Grill' 'Seafood' 'American, Burger'
 'Seafood, Bar Food, Brazilian' 'Desserts, Cafe' 'Juices, Healthy Food'
 'Beverages, Bar Food, Fast Food' 'Lebanese' 'Burger'
 'Brazilian, Bar Food' 'Brazilian, Healthy Food, Juices, Pizza'
 'Bakery, Sandwich, Brazilian' 'Brazilian, Seafood' 'Steak, BBQ' 'Indian'
 'Beverages, International' 'French, Brazilian, Beverages'
 'Brazilian, Grill' 'French']
Total Unique Cuisine Combinations: 1826
 Primary Cuisines
Primary Cuisine
North Indian     2992
Chinese           855
Fast Food         672
Bakery            621
Cafe              617
                 ...
Indonesian          1
Sri Lankan          1
Argentine           1
Patisserie          1
Turkish Pizza       1
Name: count, Length: 120, dtype: int64

In [4]:
# Binary Encoding
binary_cols = ['Has Table booking', 'Has Online delivery', 'Is delivering now']
mapping = {'Yes': 1, 'No': 0}

for col in binary_cols:
  df1[col] = df1[col].map(mapping)

# One-Hot Encoding
categorical_cols = ['Price range','Rating text','Country Name','Primary Cuisine']

df_encoded = pd.get_dummies(df1, columns = categorical_cols, prefix = categorical_cols, drop_first = True)

cols_to_keep=[
    'Restaurant ID', 'Aggregate rating', 'Votes', 'Average Cost for two',
    'Has Table booking', 'Has Online delivery','Is delivering now',
    'Longitude', 'Latitude'
]
encoded_cols = [col for col in df_encoded.columns if any(prefix in col for prefix in categorical_cols)]

final_cols = cols_to_keep + encoded_cols

df_features = df_encoded[final_cols]

# Cleanup to ensure all columns are numeric and fill NaNs
df_features = df_features.apply(pd.to_numeric, errors = 'coerce').fillna(0)

In [5]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Defining columns to be scaled
feature_cols = df_features.columns.drop('Restaurant ID')
# Restaurant ID is a label not a feature, no need to be scaled

scaler = MinMaxScaler()

df_features_scaled_array = scaler.fit_transform(df_features[feature_cols])

# Calculates the min/max for each column(fit) and then scales the data(transform)
# Results the  NumPy array
df_features_scaled = pd.DataFrame(df_features_scaled_array, columns = feature_cols)
# Coverting scaled NumPy array back into pandas dataFrame by re-applying the original feature names as column headers

df_features_scaled.insert(0, 'Restaurant ID', df_features['Restaurant ID'].values)
# Instering 'Restaurant ID' column back into the first position of new scaled dataframe

print(f"Shape: {df_features_scaled.shape}")
print(df_features_scaled.head())

# All columns inside 'df_features_scaled' is our criteria for recommendation

Shape: (9551, 150)
   Restaurant ID  Aggregate rating     Votes  Average Cost for two  \
0        6317637          0.979592  0.028718              0.001375
1        6304287          0.918367  0.054052              0.001500
2        6300002          0.897959  0.024694              0.005000
3        6318506          1.000000  0.033382              0.001875
4        6314302          0.979592  0.020944              0.001875

   Has Table booking  Has Online delivery  Is delivering now  Longitude  \
0                1.0                  0.0                0.0   0.838318
1                1.0                  0.0                0.0   0.838278
2                1.0                  0.0                0.0   0.838406
3                0.0                  0.0                0.0   0.838405
4                1.0                  0.0                0.0   0.838408

   Latitude  Price range_2  ...  Primary Cuisine_Tea  Primary Cuisine_Tex-Mex  \
0  0.574426            0.0  ...                  0.0                      0.0
1  0.574305            0.0  ...                  0.0                      0.0
2  0.574590            0.0  ...                  0.0                      0.0
3  0.574630            0.0  ...                  0.0                      0.0
4  0.574621            0.0  ...                  0.0                      0.0

   Primary Cuisine_Thai  Primary Cuisine_Tibetan  Primary Cuisine_Turkish  \
0                   0.0                      0.0                      0.0
1                   0.0                      0.0                      0.0
2                   0.0                      0.0                      0.0
3                   0.0                      0.0                      0.0
4                   0.0                      0.0                      0.0

   Primary Cuisine_Turkish Pizza  Primary Cuisine_Vietnamese  \
0                            0.0                         0.0
1                            0.0                         0.0
2                            0.0                         0.0
3                            0.0                         0.0
4                            0.0                         0.0

   Primary Cuisine_Western  Primary Cuisine_World Cuisine  Primary Cuisine_nan
0                      0.0                            0.0                  0.0
1                      0.0                            0.0                  0.0
2                      0.0                            0.0                  0.0
3                      0.0                            0.0                  0.0
4                      0.0                            0.0                  0.0

[5 rows x 150 columns]

In [13]:
# Content-Based Filtering and Recommendation System definition
from sklearn.metrics.pairwise import cosine_similarity
content_features = df_features_scaled.drop(columns=['Restaurant ID']).values
# Isolates 148 feature columns as a NumPy array because Cosine Similarity is NumPy Operation
cosine_sim = cosine_similarity(content_features)
print(f"Shape of Similarity Matrix: {cosine_sim.shape}")

# Create index mapping (Restaurant ID --> Index in Matrix)
indices = pd.Series(df_features_scaled.index, index=df_features_scaled['Restaurant ID']).drop_duplicates()

def get_recommendations(restaurant_id, cosine_sim=cosine_sim, df1=df1, indices=indices, num_recommendations=20):
  if restaurant_id not in indices:
    return f"Error: Restaurant ID {restaurant_id} not found."
  # Get the index of the input restaurant
  idx= indices[restaurant_id]
  # Get the similarity scores for that restaurant
  sim_scores = list(enumerate(cosine_sim[idx]))
  # Sort the restaurants based on similarity scores(descending)
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # Exclude the input restaurant itself and keep top N
  sim_scores = sim_scores[1:num_recommendations+1]

  # Get the restaurant indices and scores
  restaurant_indices = [i[0] for i in sim_scores]
  similarity_scores = [i[1] for i in sim_scores]
  # Above two variables are lists that loaded with indices and scores respectively

  # Retrieve restaurant details from original dataframe 'df1'
  recommendations = df1.iloc[restaurant_indices][['Restaurant ID', 'Restaurant Name', 'Primary Cuisine', 'Aggregate rating', 'Votes', 'Price range']].copy()
  recommendations['Similarity Score'] = similarity_scores

  return recommendations

Shape of Similarity Matrix: (9551, 9551)

In [14]:
# Testing the Recommendation System

# Candidate A :- High-rated, Overall popular restaurant
candidate_A_data = df1.sort_values(by=['Aggregate rating','Votes'], ascending=False).iloc[0]
candidate_A_id = candidate_A_data['Restaurant ID']
candidate_A_name = candidate_A_data['Restaurant Name']
candidate_A_cuisine = candidate_A_data['Primary Cuisine']

# Candidate B :- Indian restaurant with high votes and good rating
indian_restaurants = df1[(df1['Primary Cuisine'] == 'Indian') & (df1['Aggregate rating']>4.0)]
candidate_B_data = indian_restaurants.sort_values(by='Votes', ascending = False).iloc[0]
candidate_B_id = candidate_B_data['Restaurant ID']
candidate_B_name = candidate_B_data['Restaurant Name']
candidate_B_cuisine = candidate_B_data['Primary Cuisine']

# Candidate C :- European restaurant to test a different market
european_restaurants = df1[(df1['Primary Cuisine'] == 'European') & (df1['Aggregate rating']>4.0)]
candidate_C_data = european_restaurants.sort_values(by='Votes', ascending = False).iloc[0]
candidate_C_id = candidate_C_data['Restaurant ID']
candidate_C_name = candidate_C_data['Restaurant Name']
candidate_C_cuisine = candidate_C_data['Primary Cuisine']

# Candidate D
complex_filter = (
    (df1['Aggregate rating'] >= 4.5) &
    (df1['Price range'] == 4) &
    (df1['Has Table booking'] == 1) &
    (df1['Primary Cuisine'].isin(['Italian', 'European', 'International', 'French']))
)
candidate_D_restaurants = df1[complex_filter]
# Sort by Votes to pick the most established restaurant within this strict criteria
candidate_D_data = candidate_D_restaurants.sort_values(by='Votes', ascending=False).iloc[0]
candidate_D_id = candidate_D_data['Restaurant ID']
candidate_D_name = candidate_D_data['Restaurant Name']
candidate_D_cuisine = candidate_D_data['Primary Cuisine']
candidate_D_price = candidate_D_data['Price range']

print("\n----Test Candidates for Restaurant Recommendation----")
print(f"1. Overall Popular: {candidate_A_name} (ID: {candidate_A_id}, Cuisine: {candidate_A_cuisine})")
print(f"2. Indian Cuisine: {candidate_B_name} (ID: {candidate_B_id}, Cuisine: {candidate_B_cuisine})")
print(f"3. European Cuisine: {candidate_C_name} (ID: {candidate_C_id}, Cuisine: {candidate_C_cuisine})")
print(f"4. Complex High-End: {candidate_D_name} (ID: {candidate_D_id}, Cuisine: {candidate_D_cuisine}, Price: {candidate_D_price})")
print("-------------------------------------------------------")

# Running test recommendations for Candidate A
print(f"\nRunning test for Candidate A: {candidate_A_name} (ID: {candidate_A_id})")
test_recommedations_A = get_recommendations(candidate_A_id)
print("\n--- Top 20 Recommendations for Candidate A(Content-Based) ---")
print(test_recommedations_A.to_markdown(index = False))

# Running test recommendations for Candidate B
print(f"\nRunning test for Candidate B: {candidate_B_name} (ID: {candidate_B_id})")
test_recommedations_B = get_recommendations(candidate_B_id)
print("\n--- Top 20 Recommendations for Candidate B(Content-Based) ---")
print(test_recommedations_B.to_markdown(index = False))

# Running test recommendations for Candidate C
print(f"\nRunning test for Candidate C: {candidate_C_name} (ID: {candidate_C_id})")
test_recommedations_C = get_recommendations(candidate_C_id)
print("\n--- Top 20 Recommendations for Candidate C(Content-Based) ---")
print(test_recommedations_C.to_markdown(index = False))

# Running the test recommendations for Candidate D
print(f"\nRunning test for Complex Candidate D: {candidate_D_name} (ID: {candidate_D_id})")
test_recommendations = get_recommendations(candidate_D_id)
print("\n--- Top 20 Recommendations for Candidate D(Content-Based) ---")
print(test_recommendations.to_markdown(index=False))

----Test Candidates for Restaurant Recommendation----
1. Overall Popular: Barbeque Nation (ID: 20842, Cuisine: North Indian)
2. Indian Cuisine: AB's Absolute Barbecues (ID: 208939, Cuisine: Indian)
3. European Cuisine: AB's - Absolute Barbecues (ID: 56618, Cuisine: European)
4. Complex High-End: Spiral - Sofitel Philippine Plaza Manila (ID: 6300010, Cuisine: European, Price: 4)
-------------------------------------------------------

Running test for Candidate A: Barbeque Nation (ID: 20842)

--- Top 20 Recommendations for Candidate A(Content-Based) ---
|   Restaurant ID | Restaurant Name            | Primary Cuisine   |   Aggregate rating |   Votes |   Price range |   Similarity Score |
|----------------:|:---------------------------|:------------------|-------------------:|--------:|--------------:|-------------------:|
|        17806994 | Mirchi And Mime            | North Indian      |                4.9 |    3244 |             3 |           0.994997 |
|           11807 | Barbeque Nation            | North Indian      |                4.5 |    2847 |             3 |           0.993255 |
|          305525 | Cafe Lota                  | North Indian      |                4.5 |    2213 |             3 |           0.989842 |
|           25570 | Barbeque Nation            | North Indian      |                4.9 |    1753 |             3 |           0.988155 |
|          120014 | Barbeque Nation            | North Indian      |                4.5 |    1450 |             3 |           0.98523  |
|           72604 | Coal Barbecues             | North Indian      |                4.6 |    1267 |             3 |           0.984499 |
|        18384227 | AB's - Absolute Barbecues  | North Indian      |                4.9 |     859 |             3 |           0.981799 |
|        18445790 | Kopper Kadai               | North Indian      |                4.8 |      83 |             3 |           0.976222 |
|          113325 | Nini's Kitchen             | North Indian      |                4.5 |    1138 |             3 |           0.908381 |
|         6508323 | The Urban Foundry          | North Indian      |                4.5 |    1099 |             3 |           0.907525 |
|        18418247 | feel ALIVE                 | North Indian      |                4.7 |      69 |             3 |           0.902906 |
|        18420456 | Band Baaja Baaraat         | North Indian      |                4.6 |     128 |             3 |           0.902791 |
|          304296 | My Bar Grill               | North Indian      |                3.3 |    1363 |             3 |           0.892718 |
|            6957 | My Bar Lounge & Restaurant | North Indian      |                2.7 |    2460 |             3 |           0.89143  |
|         1600007 | Curry Leaves               | North Indian      |                3.4 |     162 |             3 |           0.88491  |
|          309477 | Room Service               | North Indian      |                3.4 |     246 |             3 |           0.88479  |
|            6200 | Essex Village Garden       | North Indian      |                3.4 |     218 |             3 |           0.884538 |
|         1600212 | House Of Flavours          | North Indian      |                3.4 |      71 |             3 |           0.884061 |
|         2400027 | Friends Forever            | North Indian      |                3.4 |      83 |             3 |           0.883752 |
|         2400020 | Aryan Family's Delight     | North Indian      |                3.4 |      57 |             3 |           0.88351  |

Running test for Candidate B: AB's Absolute Barbecues (ID: 208939)

--- Top 20 Recommendations for Candidate B(Content-Based) ---
|   Restaurant ID | Restaurant Name                  | Primary Cuisine   |   Aggregate rating |   Votes |   Price range |   Similarity Score |
|----------------:|:---------------------------------|:------------------|-------------------:|--------:|--------------:|-------------------:|
|        18340881 | Barbeque Nation                  | Indian            |                4.5 |     307 |             3 |           0.996818 |
|         5602055 | Rajasthan Al Malaki              | Indian            |                4.8 |     459 |             3 |           0.921806 |
|          208850 | Tresind - Nassima Royal Hotel    | Indian            |                4.9 |    1352 |             4 |           0.854042 |
|        18269368 | AB's Absolute Barbecues          | Continental       |                4.9 |     641 |             3 |           0.852616 |
|        18254160 | Carnival By Tresind              | Indian            |                4.9 |     322 |             4 |           0.851794 |
|         5703500 | Punjab Grill                     | Indian            |                4.9 |     216 |             4 |           0.851343 |
|        18233284 | Farzi Cafe                       | International     |                4.5 |     909 |             3 |           0.851334 |
|        18253896 | Tamba                            | Indian            |                4.7 |     201 |             4 |           0.850461 |
|        18381837 | SpiceKlub                        | Indian            |                4.4 |     281 |             3 |           0.849206 |
|         6104220 | Roti Chai                        | Indian            |                4.5 |     367 |             3 |           0.845461 |
|          210134 | Grand Barbeque Buffet Restaurant | Indian            |                4.4 |     552 |             3 |           0.792717 |
|        18235425 | Indian By Nature                 | Indian            |                4.3 |     180 |             3 |           0.790638 |
|         5702418 | Gazebo                           | Indian            |                4   |     355 |             3 |           0.788177 |
|          201340 | The Cheesecake Factory           | American          |                4.7 |    2424 |             3 |           0.766975 |
|         5600642 | Katis Restaurant                 | Indian            |                4.3 |     316 |             3 |           0.760431 |
|         6103922 | Dishoom                          | Indian            |                4.5 |     305 |             3 |           0.757442 |
|        18337894 | Prankster                        | Modern Indian     |                4.8 |    1478 |             3 |           0.710791 |
|        18365987 | Matchbox                         | Continental       |                4.8 |     245 |             3 |           0.70796  |
|        18303709 | Burma Burma                      | Asian             |                4.6 |     563 |             3 |           0.707034 |
|        18037817 | Qubitos - The Terrace Cafe       | Thai              |                4.5 |     778 |             3 |           0.706651 |

Running test for Candidate C: AB's - Absolute Barbecues (ID: 56618)

--- Top 20 Recommendations for Candidate C(Content-Based) ---
|   Restaurant ID | Restaurant Name           | Primary Cuisine   |   Aggregate rating |   Votes |   Price range |   Similarity Score |
|----------------:|:--------------------------|:------------------|-------------------:|--------:|--------------:|-------------------:|
|           94286 | AB's - Absolute Barbecues | European          |                4.9 |    5434 |             3 |           0.998034 |
|           13231 | Le Plaisir                | European          |                4.8 |    2510 |             3 |           0.986227 |
|          900969 | Barbeque Nation           | European          |                4.5 |     213 |             3 |           0.968676 |
|        18452864 | AB's - Absolute Barbecues | European          |                4.9 |     200 |             3 |           0.968225 |
|           20842 | Barbeque Nation           | North Indian      |                4.9 |    5966 |             3 |           0.836636 |
|            1614 | Big Chill                 | Italian           |                4.5 |    4986 |             3 |           0.830831 |
|        17806994 | Mirchi And Mime           | North Indian      |                4.9 |    3244 |             3 |           0.824076 |
|           11807 | Barbeque Nation           | North Indian      |                4.5 |    2847 |             3 |           0.819828 |
|           24286 | The Irish House           | European          |                4.4 |    2224 |             3 |           0.815979 |
|          305525 | Cafe Lota                 | North Indian      |                4.5 |    2213 |             3 |           0.815785 |
|           25570 | Barbeque Nation           | North Indian      |                4.9 |    1753 |             3 |           0.815131 |
|        18017612 | Spice Kraft               | Continental       |                4.8 |    1424 |             3 |           0.812151 |
|            8244 | Big Chill                 | Italian           |                4.6 |    1569 |             3 |           0.811571 |
|          120014 | Barbeque Nation           | North Indian      |                4.5 |    1450 |             3 |           0.809856 |
|           72604 | Coal Barbecues            | North Indian      |                4.6 |    1267 |             3 |           0.808548 |
|        18385443 | Koramangala Social        | Continental       |                4.5 |    1288 |             3 |           0.808001 |
|        18384227 | AB's - Absolute Barbecues | North Indian      |                4.9 |     859 |             3 |           0.806471 |
|            7471 | Cafe Parmesan             | Italian           |                4.5 |     799 |             3 |           0.80461  |
|        16512168 | Ritz Classic              | Goan              |                4.5 |     840 |             3 |           0.804292 |
|          801690 | Mocha                     | Cafe              |                4.6 |     567 |             3 |           0.80345  |

Running test for Complex Candidate D: Spiral - Sofitel Philippine Plaza Manila (ID: 6300010)

--- Top 20 Recommendations for Candidate D(Content-Based) ---
|   Restaurant ID | Restaurant Name                            | Primary Cuisine   |   Aggregate rating |   Votes |   Price range |   Similarity Score |
|----------------:|:-------------------------------------------|:------------------|-------------------:|--------:|--------------:|-------------------:|
|         6314302 | Sambo Kojin                                | Japanese          |                4.8 |     229 |             4 |           0.857316 |
|         6315438 | NIU by Vikings                             | Seafood           |                4.7 |     535 |             4 |           0.856938 |
|         6310406 | The Food Hall by Todd English              | American          |                4.5 |     618 |             4 |           0.855842 |
|         6318506 | Ooma                                       | Japanese          |                4.9 |     365 |             4 |           0.772692 |
|            4374 | The Curzon Room - Maidens Hotel            | European          |                3.4 |      39 |             4 |           0.755594 |
|          301523 | Nostalgia at 1911 Brasserie - The Imperial | European          |                3.2 |      12 |             4 |           0.752787 |
|        18469938 | BED                                        | European          |                3   |       9 |             4 |           0.749758 |
|         7001670 | Eight - The Langham Hotel                  | European          |                4.7 |     412 |             4 |           0.74754  |
|         6501534 | Cube - Tasting Kitchen                     | European          |                4.9 |     441 |             4 |           0.744085 |
|         6501141 | Licorish Bistro                            | European          |                4.6 |     892 |             4 |           0.742529 |
|           75576 | Harissa Bistro                             | European          |                4.5 |     287 |             4 |           0.74201  |
|         6314987 | Locavore                                   | Filipino          |                4.8 |     532 |             3 |           0.714874 |
|         6317637 | Le Petit Souffle                           | French            |                4.8 |     314 |             3 |           0.714787 |
|         6304287 | Izakaya Kikufuji                           | Japanese          |                4.5 |     591 |             3 |           0.712093 |
|         6318213 | Balay Dako                                 | Filipino          |                4.5 |     211 |             3 |           0.711827 |
|         6308205 | Wildflour Cafe  Bakery                     | Cafe              |                4.4 |     392 |             4 |           0.711017 |
|         6300002 | Heat - Edsa Shangri-La                     | Seafood           |                4.4 |     270 |             4 |           0.710971 |
|        18241869 | Tashan                                     | Modern Indian     |                4.6 |     304 |             4 |           0.709888 |
|          304746 | The California Boulevard                   | American          |                4.6 |    1691 |             4 |           0.709725 |
|         6301290 | Vikings                                    | Seafood           |                4.2 |     677 |             4 |           0.708927 |